/* Font: JetBrains Mono - Bold */
@font-face {
    font-family: "JetBrainsMono-Bold";
    src: url("fonts/JetBrainsMono-Bold.ttf");
}

/* Font: JetBrains Mono - Regular */
@font-face {
    font-family: "JetBrainsMono-Regular";
    src: url("fonts/JetBrainsMono-Regular.ttf");
}

/* Font: JetBrains Mono - Italic */
/*
@font-face {
    font-family: "JetBrainsMono-Italic";
    src: url("fonts/JetBrainsMono-Italic.ttf");
}
*/

/* Font: JetBrains Mono - Light */
/*
@font-face {
    font-family: "JetBrainsMono-Light";
    src: url("fonts/JetBrainsMono-Light.ttf");
}
*/

/* Font: JetBrains Mono - Medium */
/*
@font-face {
    font-family: "JetBrainsMono-Medium";
    src: url("fonts/JetBrainsMono-Medium.ttf");
}
*/

body {
    /* Credits: https://pixabay.com/users/kenajanna-6293706 */
    background-image: url("img/snow-g671a814cc_1920.jpg");
    background-size: 512px;
    background-repeat: repeat;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "JetBrainsMono-Regular";
    color: dodgerblue;
}

.button {
    font-family: "JetBrainsMono-Bold";
    font-size: 18px;
    border-radius: 10px;
    width: 156px;
    height: 48px;
    color: dodgerblue;
    background-color: white;
    border: dodgerblue 3px dotted;
    margin-left: 20px;
    margin-right: 20px;
    transition-duration: 0.8s;
}

.button:hover {
    color: white;
    background-color: dodgerblue;
    cursor: pointer;
}

.icon {
    width: 156px;
    height: 156px;
    margin-bottom: -60px;
    transition-duration: 2s;
}

.icon:hover { transform: rotateY(360deg); }

.label {
    font-family: "JetBrainsMono-Bold";
    font-size: 32px;
    text-align: center;
    color: dodgerblue;
}

#quote {
    font-family: "JetBrainsMono-Bold";
    font-size: 15px;
    color: blue;
}

p, li, code { font-family: "JetBrainsMono-Regular"; }

.rot_icon { transition-duration: 0.8s; }
.rot_icon:hover { transform: rotate(360deg); }

hr {
    border-color: dodgerblue;
    border-width: 3px;
    border-style: dashed;
}

.scl_icon { transition-duration: 0.8s; }
.scl_icon:hover { transform: scale(0.8, 0.8); }

.bubble {
    border-color: dodgerblue;
    border-width: 5px;
    border-radius: 50px;
    border-style: dotted /*dashed*/;
    transition-duration: 0.8s;
}

.bubble:hover { transform: scale(0.9, 0.9); }

.doco1 {
    float: left;
    border-right: 3px dodgerblue dashed;
    padding-right: 20px;
    margin-right: 20px;
    overflow-y: scroll;
    position: relative;
}

.doco2 {
    font-family: "JetBrainsMono-Regular";
    margin-right: 20px;
    position: absolute;
    left: 375px;
    float: left;
}

